<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705576078712-8ve5nb46dnmei6ahhu0rk5ntsfcrn2kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705576078712-8ve5nb46dnmei6ahhu0rk5ntsfcrn2kr</string>
	<key>API_KEY</key>
	<string>AIzaSyCK2_kxFxysoITBbctm7Hcrp3SZOEvVV5I</string>
	<key>GCM_SENDER_ID</key>
	<string>705576078712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.younzee.app</string>
	<key>PROJECT_ID</key>
	<string>younzee-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>younzee-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705576078712:ios:c69daa7ae36462820f8c8d</string>
</dict>
</plist>