@import '../src/theme/mixins.scss';
@import '../src/theme/variables.scss';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';
// swipe scss
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
// swipe module complementary
//@import '~swiper/scss/autoplay';
//@import '~swiper/scss/keyboard';
@import '~swiper/scss/pagination';
//@import '~swiper/scss/scrollbar';
//@import '~swiper/scss/zoom';
/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*.my-custom-modal-css .modal-wrapper {
  height: 80%;
  bottom: 0%;
  position: absolute;
  display: block;
}
.my-custom-modal-css .modal-shadow {
  height: 80%;
}*/

.modal-wrapper {
  height: fit-content !important;
}



.popover-details-article {
  --width: 140px;
  --background: none;

  &::part(content) {
    border-radius: 10px;
    right: 1rem !important;
    top: 19px !important; //toolbar 3px padding + padding of 1rem
    left: unset !important;
  }

  ion-content {
    --background: rgb(255, 249, 249);
  }

  ion-item {
    --background: transparent;
    text-align: center;
    @include text(1.125rem, 'IBMPlexSans', var(--ion-color-secondary), 600);

    .delete-label {
      color: var(--ion-color-danger);
    }
  }
}

.successToaster,
.errorToaster {
  --height: 2.5rem;

  &::part(container) {
    background-color: var(--ion-color-white);
    border: 0.5px solid var(--ion-color-success);
    height: 38px; //hack
  }

  &::part(icon) {
    color: var(--ion-color-success);
  }

  &::part(message) {
    @include text(1rem, 'IBMPlexSans', var(--ion-color-black));
  }
}

/*ion-app.ios {
  margin-top: 30px !important;
  //margin-top: 30px;
}*/
.errorToaster {
  &::part(container) {
    border: 0.5px solid var(--ion-color-danger);
  }

  &::part(icon) {
    color: var(--ion-color-danger);
  }
}

.article-title-modal {
  --background: transparent;
}

.bottom {
  height: 5rem;
}

.form-error {
  @include text(14px, 'IBMPlexSans', var(--ion-color-danger));
}

.required_star {
  color: var(--ion-color-danger);
}

.form-error-icon {
  @include text(14px, 'IBMPlexSans', var(--ion-color-danger));
  display: inline-flex;
  align-items: center;

  ion-icon {
    margin-right: 0.5rem;
  }
}

.alert-message,
.action-sheet-title {
  color: var(--ion-color-secondary) !important;
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1rem !important;
  font-family: 'IBMPlexSans' !important;
}

.alert-delete-button,
.action-sheet-destructive {
  color: red !important;
  font-size: 1.125rem !important;
  font-family: 'IBMPlexSans' !important;
  font-weight: 600 !important;
}

.alert-cancel-button,
.action-sheet-cancel {
  color: var(--ion-color-secondary) !important;
  font-size: 1.125rem !important;
  font-family: 'IBMPlexSans' !important;
  font-weight: 600 !important;
}

ion-toast {
  --border-radius: 1rem;
  --height: 40px;
}

ion-searchbar {
  input {
    font-size: 0.875rem !important;
    text-overflow: ellipsis !important;
    font-family: 'IBMPlexSans' !important;
    height: 2.5rem !important;
    //padding-right: 1rem !important;
    padding-left: 2.5rem !important;
    padding-right: 1.5rem !important;

    @media screen and (max-width: 300px) {
      font-size: 0.625rem !important;
    }
  }
}

ionic-selectable {
  .ionic-selectable-value {
    font-family: 'IBMPlexSans';
  }

  .ionic-selectable-value-item {
    color: var(--ion-color-secondary);
    font-family: 'IBMPlexSans';
    font-size: 1rem;
  }
}

.ionic-selectable-modal {
  --ion-font-family: 'IBMPlexSans';

  .toolbar-title-default {
    --background: var(--ion-color-primary);

    .button {
      @include simple_button(2.5rem, 2.5rem, var(--ion-color-secondary));
      margin-left: 0;
      margin-right: 0;
    }

    ion-title {
      @include title(1.625rem, 'IBMPlexSans', var(--ion-color-secondary), 600);
      text-align: center;
      width: 100%; //2.5rem
    }
  }

  .toolbar-searchbar {
    padding-top: 0.5rem;
  }

  ion-item {
    font-size: 1rem;
  }
}

ion-datetime {
  --background: white;
}

.datetime-modal {
  --width: 290px;
  --height: fit-content;
  --border-radius: 1rem;

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --background: transparent;

    ion-datetime {
      border-radius: 16px;
    }
  }
}

//////////////////////////// VERIFIED ////////////////////////////
/// TYPO ///
//Bold
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/IBMPlexSans-Bold.ttf');
}

//semiBold
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/IBMPlexSans-SemiBold.ttf');
}

//Medium
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/IBMPlexSans-Medium.ttf');
}

//Normal
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/IBMPlexSans-Regular.ttf');
}

//Light
@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/IBMPlexSans-Light.ttf');
}

html {
  font-size: 16px;

  @media only screen and (max-width: $width-md) {
    font-size: 14px;
  }
}

ion-button:focus {
  outline: none;
}

/* FOOTER */
ion-footer {
  height: 34px;
  background: #111111;
}

.white-footer {
  background: #ffffff
}

/* HEADER + toolbar */
ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
  padding: 0 16px 0 16px;

  ion-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/* */
ion-buttons {
  margin-left: 0;

  ion-back-button {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}

ion-button {
  @include button(100%, 2.5rem, 1.125rem);
  --box-shadow: none;
  margin: 0;
  --background-activated: none; // useless ?
  --background-focused: none; // useless ?
  --background-hover: none; // useless ?
}

.button-clear.ion-activated {
  opacity: 1
}

ion-item {
  --highlight-height: 1.5px;
  --highlight-color-focused: #43e7f3 !important;
  --highlight-color-valid: var(--ion-color-success);
  --highlight-color-invalid: var(--ion-color-danger);
  --padding-start: 0;
  height: 74px;
  --show-full-highlight: 0;
  --min-height: 54px;
  --border-color: #888888;
  --inner-padding-end: 0;

  @media only screen and (max-width: $width-sd) {
    height: 70px;
    --min-height: 44px;
  }

  @media only screen and (max-width: $width-md) {
    height: 68px;
    --min-height: 50px;
  }

  ion-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

ion-input {
  --padding-bottom: 0px !important;
  --placeholder-color: $gray300;
}

ion-label {
  margin-top: 0px;
  @include regularText(0.875rem)
}

ion-radio {
  --color: var(--ion-color-primary);
  margin: 0 8px 0 0;
}

.label-required {
  color: var(--ion-color-danger);
}

.error-message {
  @include regularText(0.75rem, var(--ion-color-danger));
}

ion-title.md {
  padding: 0 2.5rem 0 0
}

ion-title.ios {
  padding: 0 0 0 0
}

.safe-area {
  margin-top: var(--ion-safe-area-top, 0) !important;
}

ion-slides {
  --swiper-pagination-color: var(--ion-color-primary) !important;
  height: 100%;

  .swiper-pagination-bullets {
    bottom: 1rem !important;
  }
}

.swiper-pagination {
  height: 12px;
  bottom: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  height: calc(100% - 12px)
}

ion-select-popover {
  padding: 0 1rem 0 1rem;

  ion-item {
    height: 44px;
    --min-height: 44px;
  }

  ion-label {
    @include regularText(1rem !important, var(--ion-color-secondary) !important, 400 !important, 'IBMPlexSans' !important);
  }

}

ion-note {
  @include regularText(0.75rem, var(--ion-color-danger-tint));
}

.bolder {
  font-weight: 700
}

// remove box-shadow under header android
.header-md::after {
  height: 0px
}