<ion-content class="safe-area ion-padding-horizontal">
  <p class="title ion-no-margin">{{'HOME.WELCOME' | translate }} <span class="text-yellow">{{'SHARED.APP_NAME' |
      translate}}</span></p>
  <p class="subtitle ion-no-margin">{{'HOME.YOUR' | translate }} <span class="text-yellow">{{'SHARED.PERSONAL_SHOPPER' |
      translate}} </span><br>{{'HOME.FINGERTIPS' | translate }}</p>
  <p class="text ion-no-margin">{{'HOME.WARDROBE_CONTROL' | translate}},<br>
    <span class="text-yellow">{{'HOME.FUTURE_MODE' | translate}}</span>
  </p>
</ion-content>