@import '../../theme/variables.scss';
@import '../../theme/mixins.scss';

ion-content {
  --background: var(--ion-color-secondary);

  .title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    @include boldText(2rem, var(--ion-color-white));
  }

  .subtitle {
    @include semiBoldText(1.25rem);
  }

  .text-yellow {
    color: var(--ion-color-primary)
  }

  .text {
    @include semiBoldText(1rem);
    line-height: 28px;
    margin-top: 8.25rem;
    margin-bottom: 2.25rem;
  }

  ion-button {
    @include button(100%, 2.5rem, 1.125rem);
  }


  .logo-footer {
    height: 3rem;
    position: absolute !important;
    bottom: var(--ion-safe-area-bottom, 0) !important;
    width: calc(100% - 2rem);
    @include flex(row, flex-end, center);

    img {
      height: 3rem;
    }
  }
}